body
  background-color $yellow
a
  color $yellow

  // @media(max-width $screen-sm)
  //   padding: 1rem 15px

  // &:nth-child(odd) > .wrapper > div:nth-child(odd)
  //   background-color: pink
  
  // &:nth-child(odd) > .wrapper > div
  //   background-color: blue

.wrapper
  // > div:nth-child(2)
  //   background-color: #2d2e2e

  @media(max-width $screen-md)
    grid-template-columns 100%

  & > div
    // background-color #2d2e2e
    // background-color green
    padding: 4rem 5rem
    position relative
    height 100%

    @media(max-width 768px)
      padding 4rem 3rem
    
    @media(max-width 600px)
      padding 1rem 1rem
      margin 0
      max-width 100%
