// .sectionBg,
.sections
  color #ccc
  position relative

  // Primeiro Elemento
  &:nth-child(odd)
    background-color $bg-third

    .headerBg
      background-color: $bg-first
    
    .contentBg
      background-color: $bg-second

    .container
      .wrapper

        > div:nth-child(2)
          background-color: $bg-second
          height 100%
          display block

  // Segundo Elemento
  &:nth-child(even)
    background-color $bg-second

    .headerBg
      background-color: $bg-third
    
    .contentBg
      background-color: $bg-fourth

    .container
      .wrapper
        > div:nth-child(2)
          background-color: $bg-fourth
          height 100%
          display block
  
  // Abre
  &:nth-child(1)
    max-width 100vw
    height 100%
    overflow hidden

    .container 
      .wrapper
        height calc(100vh)
        position relative
          
        // @media(max-width 767px)
        //   display grid
        //   grid-template-columns 100%

        @media(max-width $screen-xs)
          height 100%

        .bannerImgRight  
          width 100%

          @media(max-width $screen-sm)
            height 100%
            width: 60%;
            text-align: center;
            margin: 0 auto;

          img 
            width: 100%;
            height: 100%;
            border-radius 100% 50% 50% 100% / 75% 69% 69% 75%
            box-shadow 2px 10px 0px 0px rgba(0, 0, 0, 0.16)

        > div
          position relative
          height 100%

          .contentText
            position absolute
            transform: translateY(-50%);
            top: 50%;
            width 100%
            display block

            @media(max-width 768px)
              position: unset
              transform: unset
              margin-bottom 2rem

            h1 
              margin-bottom 0

              span
                display: block
                line-height: 0
                font-weight: 400
                font-size 3.1rem
                font-family: sans-serif

                @media(max-width $screen-sm)
                  line-height: 0.3
                
                @media(max-width $screen-xs)
                  line-height: 1

                &:nth-of-type(2)
                  font-size: 8rem
                  font-weight: 900
                  text-transform: uppercase
                  color $yellow
                  letter-spacing: -.5rem
                  line-height: 1.5
                  -moz-line-height 1.4
                  font-family: $second-family
                  background: linear-gradient(to bottom right, $yellow, $white);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  z-index: 2
                  paddgin 0
                  margin 0
                  

                  @media(max-width $screen-xs)
                    font-size: 5.8rem;
                  
                  @media(max-width $screen-xxs)
                    font-size: 4.9rem
                

                &:nth-of-type(3)
                  font-size: 1rem
                  line-height: 1
                  padding-left .5rem
                  margin 0
                  color: #25384e
                  display: none




                small
                  font-size: 2rem
                  padding-left 1rem
          
            h2
              font-size 1.2rem
              font-weight: 200
              letter-spacing: .05rem
              line-height: 1.4
              margin 0
              padding 0 0 0 6px
              font-family: $primary-family

              @media(max-width 600px)
                padding 0

              &:nth-of-type(2)
                font-style: italic

              strong 
                color $yellow
                font-weight: 600

              span 
                @media(min-width $screen-sm)
                  display block
    
  // Intro
  &:nth-child(2)
    .container 
      .wrapper 
        div:nth-of-type(2)
          column-count: 2;
          column-gap: 3rem;
          // padding-right 2rem

          @media(max-width 768px)
            column-count unset
            padding 4rem 3rem
          
          @media(max-width 600px)
            column-count unset
            padding 3rem

          @media(max-width $screen-xs)
            padding 2rem

  // Expertise
  &:nth-child(3)
    .container
      .wrapper
        > div:nth-child(2)
            padding 4rem 10rem 4rem 5rem

            @media(max-width $screen-md)
              padding 3rem 5rem
              
            @media(max-width 768px)
              padding 2rem 3rem
            
            @media(max-width $scree-sm)
              padding 3rem 4rem
            
            @media(max-width $screen-xs)
              padding 2rem
    .media
      display grid
      grid-template-columns 45% 45%
      grid-column-gap: 10%
      grid-row-gap: 2rem

      @media(max-width 768px)
        grid-template-columns 100%
        padding 0
    
      .item

        span 
          display block
          height 100%
          width: 1.8rem;
          float left
          color: $yellow
          font-weight bold
          font-size 1.2rem
          line-height: 1

        h3 
          margin 0 0 .3rem
          text-transform: uppercase
          font-size 1rem
          line-height: 1.35
          font-family $second-family
        
        p
          padding-left: 1.8rem
          margin-bottom 0
          font-size .9rem
  
  // Skills
  &:nth-child(4)
    .container
      .wrapper
        > div:nth-child(2)
            padding: 2rem 5rem 4rem;

            @media(max-width 768px)
              padding 2rem 3rem
            
            @media(max-width $screen-sm)
              padding 2rem 3rem 
            
            @media(max-width $screen-xs)
              padding 2rem
                  
    .media
      display grid
      grid-template-columns 45% 45%
      grid-column-gap: 10%

      @media(max-width 768px)
        grid-template-columns 100%
        padding 0
      
      @media(max-width $screen-sm)
        grid-template-columns 100%
        grid-column-gap: 0
    
      .item
        // margin 2rem 4rem 2rem 0
        margin: 2rem 0 .5rem

        @media(max-width 600px)
          margin 0 0 1.5rem 0
          padding 0

        h3 
          margin 0 0 .8rem
          text-transform: uppercase
          font-size 1rem
          font-family $second-family

          span 
            color $yellow
          
          small
            color $yellow
            font-size .7rem
            margin-left: .08rem
        
        .contentProgressBar
          background-color #536982
          display: block;
          margin-top: 0.55rem;
          height 5px

          .progressBar
            transition: width 1.4s ease-in-out .5s;
            background: $yellow;
            height: 100%;
            -webkit-animation: animate-stripes 5s linear infinite;
            animation: animate-stripes 5s linear infinite;

            @keyframes animate-stripes 
              100% { background-position: -100px 0px; }
  
  // Experience
  &:nth-child(5)
    .container
      .wrapper
        #vini
          position sticky
          top 2rem

        > div:nth-child(2)
            padding 3rem 10rem 3rem 5rem

            @media(max-width $screen-lg)
              padding 3rem 5rem

            @media(max-width 768px)
              padding 2rem 3rem
            
            @media(max-width 600px)
              padding 2rem 3rem
            
            @media(max-width $screen-xs)
              padding 2rem
                  
    .media
      display grid
      grid-template-columns 100%
      
      @media(max-width 768px)
        padding 0
      
      .timeline
        border-left-width: 2px;
        border-left-style: solid;
        border-color: #536982;
        // margin-left: calc(1rem - 2px);
        padding-left: 25px;
        position: relative;

        > div
          margin: 0 0 3rem 0;

        > div:last-child
          margin-bottom: 0

        .pointTimeline
            height: 10px;
            width: 10px;
            position: absolute;
            left: -6px;
            border-radius: 50%;
            background-color: $yellow
            z-index 2
            box-shadow: 0 0 0 6px $bg-second;

        .item
          // margin 2rem 4rem 2rem 0
          position relative
          line-height: 1
          display grid
          grid-template-columns 35% 65%

          @media(max-width 768px)
            margin 0 0 1.5rem 0
            padding 0
            grid-template-columns 100%


          > div:nth-child(2)
            margin-left 4rem

            @media(max-width $screen-md)
              margin-left 0
          
            p   
              font-size .9rem
              // padding-right 6rem
              // padding-top 18px

              @media(max-width $screen-md)
                margin-top 1.2rem
                padding-left 1rem
              
              @media(max-width $screen-sm)
                padding-left 0
                margin-top 0

          h5 
            margin 0
            padding 0 0 .8rem
            color $yellow
            font-size .6rem
            font-weight: 900
            text-transform: uppercase;
            letter-spacing: 0.02rem;

          h4 
            margin 0 0 .4rem
            padding: 0
            text-transform uppercase
            font-size 1rem
            line-height: 1.2;

            @media(max-width $screen-lg)
              margin 0 1rem .4rem 0

          span 
            text-transform: capitalize
            font-size .8rem
            padding: 0 0 .8rem
            display: block
            color: #999
            line-height: 1.1

            @media(max-width $screen-lg)
              max-width 140px
            
            @media(max-width $screen-sm)
              max-width 100%

          small
            display: block;
            // text-transform: lowercase
            font-size .7rem
            color: #999

            @media(max-width $screen-sm)
              display: none

              
            
          // small
          //   color $yellow
          //   font-size .6rem
          //   font-weight: 900
          //   text-transform: uppercase;
          //   padding-bottom: 1rem
          //   letter-spacing: 0.1rem


  // Footer
  &:last-child
    max-width 100vw
    height 100%

    .container 
      .wrapper
        height 100%
        position relative
  
  
  // Estrutura Genérica
  .container
    padding 0
    margin 0 auto
    color $color-font
    position relative
    z-index 5

    .wrapper
      display grid
      grid-template-columns 33% 67%
      position relative
      height 100%
      
      @media(max-width 767px)
        grid-template-columns 100%

      @media(max-width $screen-sm)
        grid-template-columns: 100%
      

      .sticky
        position: sticky
        top 2rem
      
        @media(max-width $screen-sm)
          position: unset 

      > div:nth-of-type(1)
        padding: 4rem 5rem 4rem 10rem
  
        @media(max-width $screen-md)
          padding: 4rem 5rem

        @media(max-width 768px)
          padding 4rem 3rem
        
        
        @media(max-width 600px)
          padding 1rem 3rem
          margin 0
          max-width 100%
        

        @media(max-width $screen-xs)
          padding 1rem

      > div:nth-of-type(2)
        padding: 4rem 10rem 4rem 5rem
        
        @media(max-width $screen-lg)
          padding: 4rem 5rem
        
        @media(max-width $screen-sm)
          padding: 2rem 3rem 4rem;

        @media(max-width $screen-xs)
          padding 2rem

  .headerBg 
    background #2b2c2c
    display block
    position absolute
    height 100%
    width 50%
    z-index 1

    @media(max-width $screen-sm)
      width 100%
  
  .contentBg
    background #2d2e2e
    display block
    position absolute
    height 100%
    width 50%
    right 0
    z-index 1

    @media(max-width $screen-sm)
      width 0%

.footerBg
  color #ccc
  position relative
  background-color #222

.footer > .container
  color #cccccc !important