.awards
  display grid !important
  grid-template-columns 22% 22% 22% 22%
  grid-gap: 4%

  @media(max-width $screen-md)
    grid-template-columns 30% 30% 30%
    grid-gap: 3.333%
  
  @media(max-width $screen-sm)
    grid-template-columns 45% 45%
    grid-gap: 10%
  
  @media(max-width $screen-xs)
    grid-template-columns 100%
    grid-gap: 0
    grid-row-gap: 2rem

  .item
    a
      text-decoration: none
      
      h4
        text-transform: uppercase
        font-family: $second-family
        margin .5rem 0
        padding 0
        line-height: 1.2

        @media(max-width $screen-xs)
          margin .5rem 0 0

      small 
        width 100%
        color: $gray-theme
        padding: 0
        margin 0
        line-height: 1.2

        &:first-child
          font-style: italic

      p
        color: #fff
        font-family $primary-family
        font-size 1.1rem
        margin .5rem 0 .5rem
        padding 0
        line-height: 1.2

        @media(max-width $screen-xs)
          margin .3rem 0 0