@import '../core'

.sections

  // Abre
  &:nth-of-type(1)
    .container
      .wrapper
        div
          padding-top 0
          padding-bottom 0
          
          // @media(max-width $screen-xs)
          //   margin-top 1rem
          //   margin-bottom 1rem

        .bannerImgRight
          position absolute
          transform: translate(-50%,-50%);
          top: 50%; 
          left: 50%;
          width 250px 

          @media(max-width $screen-sm)
            position: unset
            transform: unset
            max-width 380px
            width: 100%
            margin 0 auto
            padding 2rem 0
          
          @media(max-width $screen-xs)
            max-width 300px
          
          @media(max-width $screen-xxs)
            max-width 220px

          > div
            overflow: initial !important

        

        .contentFooter
          position absolute
          bottom: 0
          max-width 100%
          display block
          margin-bottom 2rem
          column-count: 1
          width: calc(100% - 8rem);

          @media(max-width 768px)
            position: unset 
            margin-bottom 1rem
            width: 100%;

          .social
            list-style: none
            margin 0 0 1.5rem 
            padding 0
            text-align: right
            width: 100%
            display: block

            @media(max-width 600px)
              text-align: left
              margin 0 
              padding 0

            li  
              display: inline-block
              margin-left: 1.5rem

              @media(max-width 600px)
                margin 0
                padding 0 5px 0 0

              &:hover
                a 
                  color #ffffff

              a 
                color #ccc
                text-decoration: none   

                .iconGithub  
                  // background-image url('../svg/icon-github.svg')
                  width 20px
                  height 20px
                  position relative


          .perosnalContact
            list-style: none
            margin 2rem 0 0 
            padding 0
            height 100%
            display: block

            @media(max-width $screen-xs)
              margin 1rem 0 0
            
            .local
              @media(max-width $screen-xs)
                display: none

            .whatsapp
              @media(max-width $screen-md)
                width: 50%

              @media(max-width $screen-xs)
                span
                  a
                    display: block
                    padding 0

                    &:last-child
                      display: none

            li  
              display: inline-block
              margin-right: 6rem
              

              @media(max-width $screen-md)
                width: 20%
                margin-right 0

              &:hover
                strong 
                  color #ffffff

              strong 
                display: block
                margin-bottom: 1rem
                font-size .7rem
                text-transform: uppercase
                letter-spacing: -.02rem
                
                @media(max-width $screen-xs)
                  width 100%

              
              span
                font-size 1rem
                font-family: $primary-family
                letter-spacing: .02rem

                a
                  text-decoration: none
                  padding-right .8rem
                  
                  &:last-child
                    padding-right 0

          hr
            border-top: 1px solid #000;
            border-bottom: 1px solid #fff;
            border-left: none;
            border-right: none;
            opacity: .02;
            bottom 0


// Outras Sections
.sections
  overflow hidden
  
  .container
    .wrapper
      // height 100%
      // position relative

      // & div:nth-of-type(1) > div
      //   position: -webkit-sticky;
      //   position: sticky;
      //   top 2rem

      div
        // padding-top 4rem
        // padding-bottom 4rem
        // height: 100%

        @media(max-width $screen-xs)
          padding 0


        // .media
          // width 50%
          // column-count: 2

          // div
          //   float left

        .bannerImgRight
          text-align right
          // position: unset 
          // transform: unset
          margin 0
          padding 0

          @media(max-width $screen-sm)
            text-align left

          @media(max-width $screen-xs)
            text-align: center
            margin 0 auto 

          h3
            margin 0 0 .2rem
            padding 0
            position relative
            font-family $second-family

            @media(max-width $screen-xs)
              margin 0 0 .5rem

            &:before
              content ""
              position: absolute
              border-bottom 4px solid #979899
              width: 80px
              right 0
              top -15px

              @media(max-width $screen-sm)
                right unset
                border-bottom 2px solid #979899
                width 40px
                left 0
                transform none
              
              @media(max-width $screen-xs)
                border-bottom 2px solid #979899
                width 40px
                left 50%
                transform translateX(-50%);
                top -15px

          small 
            line-height: 1
            margin 0
            padding 0

            strong 
              color $yellow

      div
        
        p
          font-size 1rem
          font-weight: 400
          line-height: 1.6
          margin-top 0
          hyphens: auto
          // -webkit-font-smoothing: antialiased;
          font-family: $primary-family
          
          &.firstParagraph
            &:first-letter
              // -webkit-initial-letter: 3 2;
              // initial-letter: 3 2;
              font-size 4.7rem
              line-height: .5
              color: $yellow
              font-weight: bold
              margin: 1.5rem .7rem 0 0
              padding: 0
              float: left
              font-family: $second-family
              font-weight: bold
              vertical-align: baseline


@import "awards"
