.main
  background: rgba(051, 51, 51, 1)
  // margin-bottom 1.45rem
  position: relative
  display: block
  width 100%

  .container
    margin 0 auto
    max-width 1400px
    padding 1rem 0

    @media(max-width 600px)
      padding 1rem 15px

  .navHeader
    list-style none
    padding 1.2rem 15px
    margin 0
    position: fixed
    top 0
    z-index 10
    display: block
    max-width 100%

    @media(max-width 600px)
      padding 1rem 15px
      display block
      position: unset

    li 
      display inline
      padding-right 10px
      display: none