.main
  background: rgba(051, 51, 51, 1)
  // margin-bottom 1.45rem

  .container
    margin 0 auto
    max-width 1400px
    padding 1rem 0

    @media(max-width $screen-sm)
      padding 1rem 15px

  .navHeader
    list-style none
    padding 1.2rem 15px
    margin 0

    @media(max-width $screen-sm)
      padding 1rem 15px

    li 
      display inline
      padding-right 10px