// Variables don't need a dollar sign but it makes them easy to identify later
// in code
@import '../../assets/styles/core'

.sections
  position relative
  display block

  .headerBg 
    background-color #272727 !important
    display block
    position absolute
    height 100%
    width 50%
    z-index 1
  
  .contentBg
    background-color #292929 !important
    display block
    position absolute
    height 100%
    width 50%
    right 0
    z-index 1
  
  .container
    padding 0

    .wrapper
      div
        &:nth-of-type(odd)
          background-color: #272727
        
        &:nth-of-type(even)
          background-color #292929 !important
  
  h1 
    span 
      display block
      width 100%
      line-height: 1
      font-weight: 400
      font-size 3rem

      &:last-child
        font-size: 6rem
        font-weight: 900
        text-transform: uppercase
        color $yellow
        letter-spacing: -.4rem
        line-height: .8;
        
  ul
    list-style none
    position: absolute
    top 47.5%
    right: 2rem;

    @media(max-width $screen-sm)
      position: relative
      top 0
      left 0
      padding: 0 0 0 .2rem
      

    li 
      display inline
      margin-right: 10px
      padding: .6rem 1rem
      background-color #3f4040
      border 1px solid #3f4040
      border-radius: 5px;
      line-height: 2.6

      a   
        color #fefaee
        font-size 400
        transition all .15s linear
        letter-spacing: auto

      &:hover
        background #323333;
        border 1px solid #3f4040

        & > a 
          color $yellow


      &:last-child
        margin-right: 0

  .op8 
    opacity .8
    font-size: .8rem
    padding 1rem 0 0 .25rem

    @media(max-width $screen-sm)
      padding 1rem .2rem 0