@import '../../assets/styles/core'

.study:nth-of-type(1)
  background-color $ca-green !important

.study 
  > div h5
    color $ca-green !important


.certified:nth-of-type(1)
  background-color #ff9ff3 !important

.certified 
  > div h5
    color #ff9ff3 !important